#all-frame{
        background-color: #b7b7b7;
        overflow: auto;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        max-height: 100%;
        max-width: 100%;
        background-image: url("../assets/6876287.jpg");
        position: relative;
        box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.1);


}

#chat-frame{
        /*style={{maxHeight: '450px', minHeight: '450px', width: '100%', overflowY: 'auto', display: "flex" , flexDirection: "column-reverse"}}>*/



}